<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Jumbotron -->
    <%- include('../partials/jumbotron.ejs') %>
    <!-- content -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="row p-4">
                            <div class="col">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <!-- Product price-->
                                <span class="text-muted text-sm text-decoration-line-through">$20.00</span>
                                <span class="text-muted text-right">$20.00</span>
                            </div>
                        </div>
                        <div class="container text-center mb-2">
                            <div class="row">
                              <div class="col">
                                <div class="text-center"><a class="btn btn-sm btn-outline-warning mt-auto" href="#">Shoope</a></div>     
                              </div>
                              <div class="col">
                                <div class="text-center"><a class="btn btn-sm btn-outline-success mt-auto" href="#">Tokopedia</a></div>                                
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
    <!-- Encontent -->
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>